<p>seller-list</p>
<table class="table table-bordered table-primary table-hover">
   
    <tbody>
        
        <tr *ngFor="let s of Seller" (click)="getSellerById(s.username)">
            <td>{{s.fullName}}</td>
            <td>{{s.username}}</td>
            <!-- <td>{{s.email}}</td> -->
            <td>{{s.securityQuestion}}</td>
            <td>{{s.answer}}</td>
            <td>{{s.phoneNo}}</td>
            <td>{{s.shopName}}</td>
            <td>{{s.shopRegNo}}</td>

            <!-- <td><button (click)="getSellerById(s.id)" class="btn btn-group-lg">click</button></td> -->
        </tr>
    
    </tbody>

</table>

<p>Seller crud Operations</p>

<table class="table table-bordered table-hover table-warning">
    <tbody>
        <tr>
            <td><label for="fname">FullName</label></td>
            <td><input readonly name="fname" type="text" [(ngModel)]="s.fullName" placeholder="SellerName"></td>
    
        </tr>

        <tr>
            <td><label for="fname">UserName</label></td>
            <td><input name="fname" type="text" [(ngModel)]="s.username" placeholder="SellerName"></td>
    
        </tr>

        <!-- <tr>
            <td><label for="email">Email</label></td>
            <td><input readonly name="email" type="email" [(ngModel)]="s.email" placeholder="Email"></td>
    
        </tr> -->
        <tr>
            <td><label for="secQuestion">Securtiy Question</label></td>
            <td><input readonly name="secQuestion" type="text" [(ngModel)]="s.securityQuestion" placeholder="Security Question"></td>
    
        </tr>
        <tr>
            <td><label for="Answer">Answer</label></td>
            <td><input readonly name="Answer" type="text" [(ngModel)]="s.answer" placeholder="Answer"></td>
    
        </tr>
        <tr>
            <td><label for="Phoneno">Phone Number</label></td>
            <td><input readonly name="Phoneno" type="number" [(ngModel)]="s.phoneNo" placeholder="Phone Number"></td>
    
        </tr>
        <tr>
            <td><label for="Shopname">Shop Name</label></td>
            <td><input name="Shopname" type="text" [(ngModel)]="s.shopName" placeholder="Shop Name"></td>
    
        </tr>
        <tr>
            <td><label for="Shopno">Shop Number</label></td>
            <td><input name="Shopno" type="text" [(ngModel)]="s.shopRegNo" placeholder="Shop Number"></td>
    
        </tr>
    </tbody>
</table>Operations :
 <button class="btn btn-dark" (click)="getSellerById(s.username)">Search</button> &nbsp; &nbsp; 
<button class="btn btn-warning" (click)="updateSellerById(s.username)">Update</button> &nbsp; &nbsp;
<button class="btn btn-danger" (click)="deleteSellerById(s.username)">Delete</button>&nbsp; &nbsp;


