<p>seller-list</p>
<table class="table table-bordered table-primary table-hover">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>User Name</th>
            <th>Security Question</th>
            <th>Answer</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Shop Name</th>
            <th>Shop Registration Number</th>
        </tr>
    </thead>
   
    <tbody>
        
        <tr *ngFor="let s of ListOfSeller">
            <td><input type="text" [(ngModel)]= "s.fullName"></td>
            <td><input type="text" [(ngModel)]= "s.sellername"></td>
            <td><input type="text" [(ngModel)]= "s.securityQuestion"></td>
            <td><input type="text" [(ngModel)]= "s.answer"></td>
            <td><input type="text" [(ngModel)]= "s.phoneNo"></td>
            <td><input type="text" [(ngModel)]= "s.address"></td>
            <td><input type="text" [(ngModel)]= "s.shopName"></td>
            <td><input type="text" [(ngModel)]= "s.shopRegNo"></td>
            <td><button class="btn btn-warning" (click)="updateSellerById(s.sellername, s)">Update</button></td>
            <td><button class="btn btn-danger" (click)="deleteSellerById(s.sellername)">Delete</button></td>

        </tr>
    
    </tbody>

</table>





