<p>seller-list</p>
<table class="table table-bordered table-primary table-hover">
   
    <tbody>
        
        <tr *ngFor="let s of Seller" (click)="getSellerById(s.Username)">
            <td>{{s.fullname}</td>
            <td>{{s.Username}</td>
            <td>{{s.email</td>
            <td>{{s.secQuestion}</td>
            <td>{{s.Answer}</td>
            <td>{{s.Phoneno}</td>
            <td>{{s.Shopname}</td>
            <td>{{s.Shopno}</td>
            <td>{{s.Productname}</td>
            <td>{{s.ProductDetails}</td>

            <!-- <td><button (click)="getSellerById(s.id)" class="btn btn-group-lg">click</button></td> -->
        </tr>
    
    </tbody>

</table>

<p>Seller crud Operations</p>

<table class="table table-bordered table-hover table-warning">
    <tbody>
        <tr>
            <td><label for="fname">FullName</label></td>
            <td><input readonly name="fname" type="text" [(ngModel)]="s.fullname" placeholder="SellerName"></td>
    
        </tr>

        <tr>
            <td><label for="fname">UserName</label></td>
            <td><input readonly name="fname" type="text" [(ngModel)]="s.Username" placeholder="SellerName"></td>
    
        </tr>

        <tr>
            <td><label for="email">Email</label></td>
            <td><input readonly name="email" type="email" [(ngModel)]="s.email" placeholder="Email"></td>
    
        </tr>
        <tr>
            <td><label for="secQuestion">Securtiy Question</label></td>
            <td><input readonly name="secQuestion" type="text" [(ngModel)]="s.secQuestion" placeholder="Security Question"></td>
    
        </tr>
        <tr>
            <td><label for="Answer">Answer</label></td>
            <td><input readonly name="Answer" type="text" [(ngModel)]="s.Answer" placeholder="Answer"></td>
    
        </tr>
        <tr>
            <td><label for="Phoneno">Phone Number</label></td>
            <td><input readonly name="Phoneno" type="tel" [(ngModel)]="s.Phoneno" placeholder="Phone Number"></td>
    
        </tr>
        <tr>
            <td><label for="Shopname">Shop Name</label></td>
            <td><input readonly name="Shopname" type="text" [(ngModel)]="s.Shopname" placeholder="Shop Name"></td>
    
        </tr>
        <tr>
            <td><label for="Shopno">Shop Number</label></td>
            <td><input readonly name="Shopno" type="number" [(ngModel)]="s.Shopno" placeholder="Shop Number"></td>
    
        </tr>
        <tr>
            <td><label for="Productname">Product Name></label></td>
            <td><input readonly name="Productname" type="text" [(ngModel)]="s.productname" placeholder="Product Name"></td>
    
        </tr>
        <tr>
            <td><label for="Productdetails">Product Details></label></td>
            <td><input readonly name="Productdetails" type="text" [(ngModel)]="s.productDetails" placeholder="Product details"></td>
    
        </tr>
    </tbody>
</table>Operations :
 <button class="btn btn-dark" (click)="getSellerById(s.Username)">Search</button> &nbsp; &nbsp; 
<button class="btn btn-warning" (click)="updateSellerById(s.Username)">Update</button> &nbsp; &nbsp;
<button class="btn btn-danger" (click)="deleteSellerById(s.Username)">Delete</button>&nbsp; &nbsp;


