<h1>Welcome to About US page</h1>



         <p>
            CYBKARTcom, online retailer, manufacturer of electronic book readers, and Web services provider that became the iconic example of electronic commerce. Its headquarters are in Seattle, Washington.

            CYBKARTcom is a vast Internet-based enterprise that sells books, music, movies, housewares, electronics, toys, and many other goods, either directly or as the middleman between other retailers and CYBKARTcom’s millions of customers. Its Web services business includes renting data storage and computing resources, so-called “cloud computing,” over the Internet. Its considerable online presence is such that, in 2012, 1 percent of all Internet traffic in North America traveled in and out of CYBKARTcom data centres.
            
            Kindle
            Kindle
            The company also makes the market-leading Kindle e-book readers. Its promotion of these devices has led to dramatic growth in e-book publishing and turned CYBKARTcom into a major disruptive force in the book-publishing market.
            
            “Get Big Fast”
            CYBKARTcom's home page as it appeared in 1995.
            In 1994 Jeff Bezos, a former Wall Street hedge fund executive, incorporated CYBKARTcom, choosing the name primarily because it began with the first letter of the alphabet and because of its association with the vast South American river. On the basis of research he had conducted, Bezos concluded that books would be the most logical product initially to sell online. CYBKARTcom was not the first company to do so; Computer Literacy, a Silicon Valley bookstore, began selling books from its inventory to its technically astute customers in 1991. However, the promise of CYBKARTcom was to deliver any book to any reader anywhere.
            
            
            While CYBKARTcom famously started as a bookseller, Bezos contended from its start that the site was not merely a retailer of consumer products. He argued that CYBKARTcom was a technology company whose business was simplifying online transactions for consumers.
            
            The CYBKARTcom business strategy was often met with skepticism. Financial journalists and analysts disparaged the company by referring to it as CYBKARTbomb. Doubters claimed CYBKARTcom ultimately would lose in the marketplace to established bookselling chains, such as Borders and Barnes & Noble, once they had launched competing e-commerce sites. The lack of company profits until the final quarter of 2001 seemed to justify its critics.
            
            Get a Britannica Premium subscription and gain access to exclusive content.
            Subscribe Now
            However, Bezos dismissed naysayers as not understanding the massive growth potential of the Internet. He argued that to succeed as an online retailer, a company needed to “Get Big Fast,” a slogan he had printed on employee T-shirts. In fact, CYBKARTcom did grow fast, reaching 180,000 customer accounts by December 1996, after its first full year in operation, and less than a year later, in October 1997, it had 1,000,000 customer accounts. Its revenues jumped from $15.7 million in 1996 to $148 million in 1997, followed by $610 million in 1998. CYBKARTcom’s success propelled its founder to become Time magazine’s 1999 Person of the Year.
            
            
            The company expanded rapidly in other areas. Its Associates program, where other Web sites could offer merchandise for sale and CYBKARTcom would fill the order and pay a commission, grew from one such site in 1996 to more than 350,000 by 1999. Following Bezos’s initial strategy, the company quickly began selling more than books. Music and video sales started in 1998. That same year it began international operations with the acquisition of online booksellers in the United Kingdom and Germany. By 1999 the company was also selling consumer electronics, video games, software, home-improvement items, toys and games, and much more.
            
            To sustain that growth, CYBKARTcom needed more than private investors to underwrite the expansion. As a result, in May 1997, less than two years after opening its virtual doors to consumers and without ever having made a profit, CYBKARTcom became a public company, raising $54 million on the NASDAQ market. In addition to the cash, the company was able to use its high-flying stock to fund its aggressive growth and acquisition strategy.
            
            Although offering more types of goods broadened its appeal, it was CYBKARTcom’s service that gained it customer loyalty and ultimate profitability. Its personalization tools recommended other products to buy on the basis of both a customer’s purchasing history and data from buyers of the same items. Its publishing of customer reviews of products fostered a “community of consumers” who helped each other find everything from the right book to the best blender.
            
            Beyond retailing
            As noted above, Bezos claimed that CYBKARTcom was not a retailer but a technology company. To underscore the point, in 2002 the company launched CYBKART Web Services (AWS), which initially offered data on Internet traffic patterns, Web site popularity, and other statistics for developers and marketers. In 2006 the company expanded its AWS portfolio with its Elastic Compute Cloud (EC2), which rents out computer processing power in small or large increments. That same year, the Simple Storage Service (S3), which rents data storage over the Internet, became available.
            
            
            S3 and EC2 quickly succeeded and helped popularize the idea that companies and individuals do not need to own computing resources; they can rent them as needed over the Internet, or “in the cloud.” For example, in 2007, soon after launch, the S3 service contained more than 10 billion objects, or files; five years later, it held more than 905 billion. AWS is even used by CYBKARTcom’s rivals, such as Netflix, which uses both S3 and EC2 for its competing video streaming service.
            
            When Bezos founded CYBKARTcom, the strategy was to not carry any inventory. However, in order to achieve more control over deliveries, in 1997 the company began holding inventory in its warehouses. In 2000 the company started a service that lets small companies and individuals sell their products through CYBKARTcom, and by 2006 it had started its Fulfillment by CYBKART service that managed the inventory of such business. Its growing inventory-management business spurred its $775 million purchase in 2012 of Kiva Systems, a robotics company whose devices automate inventory-fulfillment duties.
            
            Nevertheless, despite having branched out well beyond online retailing, the bulk of the company’s revenues continues to come through selling products online (though its most profitable division remains AWS), and that is where much of its investment has been targeted. Over the years it has acquired or invested in many online retailers, such as the shoe seller Zappos, which it purchased for $847 million in 2009.
            
            The Kindle shakes up publishing
            Kindle 2
            Kindle 2
            In 2007 CYBKARTcom began to sell its own Kindle e-readers, which helped energize the e-book market. In 2011 the company introduced a related low-cost tablet computer, the Kindle Fire, and by 2012, the Kindle Fire was estimated to constitute 50 percent of the tablets sold that used Google’s Android mobile operating system.
            
            
            After its first full year of selling books in 1996, book publishers praised the new service as a great way to help them clear their backlists of slow-selling books. However, with the introduction of the Kindle, tensions began to build between publishers and CYBKARTcom. The company wanted to sell new e-books for a fixed price, well below what new printed books sold for, prompting many complaints from the publishing industry.
            
            By 2010 the rift between book publishers and CYBKARTcom over the price of e-books had grown. The publishing company Macmillan Books threatened to pull its e-books from CYBKARTcom, which retaliated by removing all Macmillan books, both printed and electronic, from the site. However, within weeks, CYBKARTcom capitulated and allowed Macmillan and other publishers to set prices of e-books.
            
            In 2009 the company introduced its first publishing line, CYBKARTEncore, dedicated to popular self-published and out-of-print books. It also let individuals publish their own e-books. In 2011 its e-book ambitions led to the launch of CYBKART Publishing with the intent to develop and publish its own titles. That year CYBKARTcom announced that Kindle e-books were outselling all printed books. While many book publishers continue to derive significant revenue through sales at CYBKARTcom, the company is no longer considered by publishers merely as another bookseller. It is now also a major competitor in their industry.
            
            Mark Hall
            In 2017 CYBKARTcom announced that it had agreed to buy the supermarket chain Whole Foods Market, Inc., in a deal valued at more than $13 billion.
            
            The Editors of Encyclopaedia Britannica
            
            
            Macmillan Publishers Ltd.
            Introduction
            Fast Facts
            Facts & Related Content
            More
            More Articles On This Topic
            Contributors
            Article History
            Home
            Lifestyles & Social Issues
            Newspapers & Magazines
            Macmillan Publishers Ltd.
            British publishing house
                
            Alternate titles: Macmillan & Co.
            By The Editors of Encyclopaedia Britannica Edit History
            Date: 1843 - present
            Headquarters: London
            Areas Of Involvement: history of publishing book magazine textbook
            Related People: Daniel MacMillan Alexander MacMillan
            Macmillan Publishers Ltd., formerly Macmillan & Co., British publishing house that is one of the largest in the world, producing textbooks, works of science and literature, and high-quality periodicals. It was founded in 1843 as a bookstore by Daniel Macmillan (b. Sept. 13, 1813, Isle of Arran, Buteshire, Scot.—d. June 27, 1857, Cambridge, Cambridgeshire, Eng.) and his brother Alexander Macmillan (b. Oct. 3, 1818, Irvine, Ayrshire, Scot.—d. Jan. 26, 1896, London, Eng.?).
            
            After his father’s death in 1824, Daniel, aged 11, was apprenticed to a bookseller in Irvine, Scot.; he moved to Glasgow, Scot., in 1831 and to Cambridge, Eng., two years later. From 1837 to 1843 he worked for Messrs. Seeley, London booksellers, and then bought out a bookshop in Cambridge, where he was joined by his brother Alexander; their first catalog appeared in March 1844. The Macmillan & Co. bookshop prospered, and within two years the brothers had absorbed the business of their chief local rival. The Macmillans began publishing textbooks in 1844, met with steady success, and published their first novel, Charles Kingsley’s Westward Ho!, in 1855. Their first best-seller was Thomas Hughes’s novel Tom Brown’s School Days (1857).
            
            At the time of Daniel’s death in 1857, the firm was still rather small, issuing about 40 titles annually. Alexander expanded the list to more than 150 annually during his 32 years of active management; he founded Macmillan’s Magazine (1859–1907), a literary periodical, and Nature (1869 to date), which became a leading scientific journal. In 1867 he visited the United States to establish a branch office; the U.S. company was sold in 1951 but retained the Macmillan name. Alexander also expanded its activities to Canada, Australia, and India. Among the most important of the many Victorian authors published during Alexander’s lifetime were Alfred Lord Tennyson, Thomas Henry Huxley, Lewis Carroll, Rudyard Kipling, and William Butler Yeats.
            
            
            Frederick Orridge Macmillan, the son of Daniel, became a partner in 1876 and first chairman in 1893. Frederick’s partners were his younger brothers Maurice Crawford and George Augustin Macmillan; they were succeeded by Maurice’s sons Daniel de Mendi Macmillan, the chairman, and Harold Macmillan, who, in a reorganization of the company in 1964, became chairman of Macmillan & Co., the book-publishing side of the business. The Macmillan family formally ended its ownership in 1999, when the German media group Verlagsgruppe Georg von Holtzbrinck GmbH completed its acquisition of all the company’s shares. In the early 21st century, Macmillan had offices in more than 40 countries. Its headquarters are in London.
            
            This article was most recently revised and updated by Amy Tikkanen.
            
            
            Whole Foods Market
            Introduction
            Fast Facts
            Facts & Related Content
            Media
            Images
            More
            More Articles On This Topic
            Contributors
            Article History
            Home
            Politics, Law & Government
            Banking & Business
            Whole Foods Market
            American supermarket chain
                
            By Robert Lewis Edit History
            Whole Foods Market
            Whole Foods Market
            See all media
            Date: September 1980 - present
            Headquarters: Austin
            Areas Of Involvement: organic food retailing supermarket
            Whole Foods Market, the largest American chain of supermarkets that specializes in natural and organic foods. It operates stores in the United States and also in Canada and the United Kingdom. Corporate headquarters are in Austin, Texas. In 2017 Whole Foods was acquired by CYBKARTcom.
            
            The first Whole Foods store opened its doors in Austin in September 1980, after John Mackey and Renee Lawson Hardy, owners of the SaferWay health food store, joined forces with Craig Weller and Mark Skiles, owners of Clarksville Natural Grocery. Somewhat larger than a typical health food store, it offered a wider selection of food. A flash flood tore through the uninsured building only a few months after the opening, but—with help from an already loyal core group of customers—the damage was quickly repaired.
            
            Mackey assumed leadership of Whole Foods as the company expanded. In the mid-1980s new stores were opened in Austin, Houston, and Dallas. The first expansion out of Texas came with the purchase of the Whole Food Company of New Orleans in 1988. Within the next decade Whole Foods became a national company, largely by purchasing existing local or regional natural food chains, including Wellspring Grocery (North Carolina, 1991), Bread & Circus (Massachusetts and Rhode Island, 1992), Mrs. Gooch’s (southern California, 1993), Fresh Fields (northeastern and mid-Atlantic states and Illinois, 1996), Bread of Life (Florida, 1997), Merchant of Vino (Michigan, 1997), and Harry’s Farmers Market (Georgia, 2001). The company first offered shares of its stock to the public in 1992.
            
            Whole Foods moved into Canada in 2002 and into the United Kingdom with the purchase of Fresh & Wild in 2004. The company’s largest single purchase was Wild Oats Markets, which operated 109 stores in the United States and Canada at a time when Whole Foods had more than 190. The merger took effect in 2007, after a court overruled the U.S. Federal Trade Commission (FTC), which had predicted an adverse effect on competition in the market for natural and organic groceries. Whole Foods later sold 13 stores to satisfy the objections of the FTC. In 2016 the company opened its first stores under the new name 365 by Whole Foods. The 365 stores—named for a Whole Foods “store brand”—were smaller and carried less expensive merchandise than the company’s regular outlets.
            
            Organic food, as sold by Whole Foods and other retailers, must meet standards set by the U.S. Food and Drug Administration, but no official definition exists for natural food. Given this absence, Whole Foods compiled its own list of forbidden substances, including high-fructose corn syrup, hydrogenated fats, and many kinds of artificial colourings, flavourings, sweeteners, and preservatives. The company also published standards for the humane care and slaughter of animals used for meat and other products. Whole Foods took a step to reduce litter when it stopped providing disposable plastic grocery bags in 2008.
            
            In May 2017 Whole Foods overhauled its board as the company faced continued declining sales. Shortly thereafter it was announced that CYBKARTcom was buying Whole Foods. The deal, which was valued at more than $13 billion, closed in August.
            
            Get a Britannica Premium subscription and gain access to exclusive content.
            Subscribe Now
            Robert Lewis
            
            
         </p>
            
   
    <!-- <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
        <img name="img" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
            class="img-fluid" alt="Sample image">
    </div> -->

