<h1>Welcome to Forget Password Page</h1>


<div class="d-flex flex-row align-items-center mb-4">
    <i class="fa fa-users fa-lg me-3 fa-fw"></i>
    <input type="text" name="uname" id="uname" class="form-control" [(ngModel)]="UName" placeholder="UserName" />
  </div>


  
  <div class="d-flex flex-row align-items-center mb-4">
    <i class=" fa fa-question-circle-o fa-lg me-3 fa-fw"></i>
    <select name="hquestion" id="hquestion" class="form-control">
      <option value="op1">What was the name of your first manager at your first job?</option>
      <option value="op2">What was your favorite subject in high school?</option>
      <option value="op3">What is your shop ID number?</option>
      <option value="op4">Where did you go on your favorite vacation as a child?</option>
      <option value="op5">What is the name of the road you grew up on?</option>
    </select><br><br>
  </div>

  
  <div class="d-flex flex-row align-items-center mb-4">
    <i class=" fa fa-pencil fa-lg me-3 fa-fw"></i>
    <input type="text" name="op" id="op" class="form-control" [(ngModel)]="Answer" placeholder="Enter your Answer" />
  </div>

  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <button type="submit" class="btn btn-primary btn-lg" (ngSubmit)="Validate()">Register</button>
  </div>

