<table class="table table-bordered table-primary table-hover">
    <thead>
        <tr>
          
            <th>User Name</th>
            <th>Seller Name</th>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Dispatch item</th>
        </tr>
    </thead>
   
    <tbody>
        
        <tr *ngFor="let seller of SellerHistory">

            <td><input readonly type="text" [(ngModel)]= "seller.Username"></td>
            <td><input readonly type="text" [(ngModel)]= "seller.Sellername"></td>
            <td><input readonly type="text" [(ngModel)]= "seller.ProductName"></td>
            <td><img class="img-fluid" readonly src="{{seller.ProductImage}}" [(ngModel)]= "seller.ProductImage"></td>
            <!-- <td><button class="btn btn-warning" (click)="updateSellerById(s.sellername, s)">Update</button></td>
            <td><button class="btn btn-danger" (click)="deleteSellerById(s.sellername)">Delete</button></td> -->
            <td><button class="btn btn-warning" (click)="DispatchItem()">Dispatch?</button></td>
        </tr>
    </tbody>
</table>





