<!-- <app-dashboard></app-dashboard> -->
<!-- <app-landingpage></app-landingpage>  -->
 <!-- <app-landingpage></app-landingpage>   -->
<!-- <app-login></app-login> -->
<!-- <app-user-dashboard></app-user-dashboard> -->
<!-- <app-seller-dashboard></app-seller-dashboard> -->
<!-- <app-editpage></app-editpage> -->
<!-- <app-index></app-index> -->
<!-- <app-seller></app-seller> -->
<!-- <app-about-us></app-about-us> -->
<!-- <app-contactus></app-contactus> -->
<!-- <app-paymentpage></app-paymentpage> -->
<!-- <app-user></app-user> -->
<!-- <app-footer></app-footer>  -->
<!-- <app-forgotpage></app-forgotpage> -->
<router-outlet></router-outlet>
