<p>User list</p>
<table class="table table-bordered table-hover table-success">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>User Name</th>
            <th>Security Question</th>
            <th>Answer</th>
            <th>Phone Number</th>
            <th>Modified By</th>
        </tr>
    </thead>


    <tbody>
        <tr *ngFor="let user of ListOfUsers">

            <td><input type="text" [(ngModel)]= "user.fullName"></td>
            <td><input type="text" [(ngModel)]= "user.username"></td>
            <td><input type="text" [(ngModel)]= "user.secQuestion"></td>
            <td><input type="text" [(ngModel)]= "user.answer"></td>
            <td><input type="text" [(ngModel)]= "user.phoneNumber"></td>
            <td><input type="text" [(ngModel)]= "user.modifiedBy"></td>
            <td><button class="btn btn-warning" (click)="updateUserById(user.username, user)">Update</button></td>
            <td><button class="btn btn-danger" (click)="deleteUserById(user.username)">Delete</button></td>
</table>


