<p>User list</p>
<table class="table table-bordered table-hover table-success">
    <tbody>
        <tr *ngFor="let c of User">
            <td>{{c.Username}}</td>
            <td>{{c.DateOfBirth}</td>
            <td>{{c.SecQuestion}}</td>

        </tr>
    </tbody>
</table>


<table class="table table-bordered table-warning table-hover">
    <tbody>
        <p>Usercrud Operations</p>
            <tr>
                <td>UserName</td>
                <td><input type="text" [(ngModel)]="u.Username"></td>
        
            </tr>
            <tr>
                <td>Dob</td>
                <td><input type="date" [(ngModel)]="u.DateOfBirth"></td>
        
            </tr>

            <tr>
                <td>Security Question</td>
                <td><input type="text" [(ngModel)]="u.SecQuestion"></td>
        
            </tr>

            <tr>
                <td>ModifiedBy</td>
                <td><input type="text" [(ngModel)]="u.ModifiedBy"></td>
            </tr>
            
            <tr>
                <td>Answer</td>
                <td><input type="text" [(ngModel)]="u.Answer"></td>
            </tr>

        
      
        
        
    </tbody>

</table>
Operations
                
<button class="btn btn-dark" (click)="getUserById(u.Username)">Search</button> &nbsp; &nbsp;
<button class="btn btn-warning" (click)="updateUserById(u.Username)">Update</button> &nbsp; &nbsp;
<button class="btn btn-danger" (click)="deleteUserById(u.Username)">Delete</button>&nbsp; &nbsp;
<!-- <button class="btn btn-success" (click)="addUser(u)">ADD</button> -->
