<p>User list</p>
<table class="table table-bordered table-hover table-success">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>User Name</th>
            <th>Security Question</th>
            <th>Answer</th>
            <th>Phone Number</th>
            <th>Modified By</th>
        </tr>
    </thead>


    <tbody>
        <tr *ngFor="let c of ListOfUsers">

            <td><input type="text" [(ngModel)]= "c.fullName"></td>
            <td><input type="text" [(ngModel)]= "c.username"></td>
            <td><input type="text" [(ngModel)]= "c.secQuestion"></td>
            <td><input type="text" [(ngModel)]= "c.answer"></td>
            <td><input type="text" [(ngModel)]= "c.phoneNumber"></td>
            <td><input type="text" [(ngModel)]= "c.modifiedBy"></td>
            <td><button class="btn btn-warning" (click)="updateUserById(User.username)">Update</button></td>
            <td><button class="btn btn-danger" (click)="deleteUserById(User.username)">Delete</button></td>
          
</table>


