<header>
    <div class="navbar navbar-dark bg-black shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-store">&nbsp;&nbsp; </i>
            <strong style="font-size: 30px;">ANYTIME PROM</strong>
        </div>
        <div class="navbar-expand">
            <div class="navbar-nav ">
                <a class="nav-item nav-link " routerLink="/login">Login </a>
                <a class="nav-item nav-link" routerLink="/contactus" routerLinkActive="active">Contact-us</a>
                <a class="nav-item nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
            </div>
        </div>
    </div>
</header>