<div class="sidenav">
    <h2 class="dt" id="date"></h2>

    <div class="login-main-text">
        <h2> WELCOME TO </h2>
        <h1>Login Page</h1><br>
      
        <p>Login Page for <strong>User</strong> and <strong>Admin</strong></p>
    </div>
</div>

<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">

            <h1>Select Your Role</h1>

            <input type="radio" id="admin" name="roles" />Admin &nbsp;&nbsp;
            <input type="radio" id="user" name="roles" />User &nbsp;&nbsp;
            <input type="radio" id="seller" name="roles" />Seller&nbsp;&nbsp;<br><br>

            <form [formGroup]="loginForm" (ngSubmit)="Authenticate()">


                <div class="form-group">
                    <label for="exampleInputUsername">Username</label>
                    <input type="text" formControlName="uname" class="from-control" id="exampleInputusername"
                        placeholder="Username">
                    <span class="text-danger"
                        *ngIf="loginForm.controls['uname'].dirty && loginForm.hasError('required','uname')">User
                        is required</span>
                </div>


                <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <input type="password" formControlName="pwd" class="from-control" id="exampleInputpassword"
                        aria-describedby="passwordhelp" placeholder="password">
                    <span class="text-danger"
                        *ngIf="loginForm.controls['pwd'].dirty && loginForm.hasError('required','pwd')">Password
                        is required</span>
                </div>

                <button type="submit" [disabled]="!loginForm.valid" class="btn- btn-primary mt-3">Login</button>

            </form>
        </div>
    </div>
</div>